@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body {
  height: 100%;
} */

html.dark body {
  background-color: #1F2937;
}

body.loading::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

body.loading main::after {
  content: "\f110";
  font-family: "FontAwesome";
  font-size: 60px;
  color: #fff;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: spinLoading 0.9s infinite;
}

@keyframes spinLoading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  outline: none;
}

button:focus,
button:active {
  outline: none;
}

main {
  max-width: 1280px;
  min-height: 75vh;
  margin: 0 auto;
  padding: 16px;
}

